.attribution {
  font-size: 11px;
  text-align: center;

  margin-bottom: 22%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;

  background-color: hsl(225, 100%, 94%);
  background-image: url("order-summary-card/images/pattern-background-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% auto;

  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
}

@media screen and (min-width: 900px) {
  body {
    background-image: url("order-summary-card/images/pattern-background-desktop.png");
  }
}

h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;

  margin-top: 0;
}

p {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.main-div {
  width: 87%;
  max-width: 450px;
  margin: 0 auto;
}

.illustration-hero-img {
  width: 100%;
  margin-top: 22%;

  border-radius: 20px 20px 0 0;

  display: block;
}

.white-bg {
  background-color: white;

  width: 100%;
  padding: 11% 0;

  border-radius: 0 0 20px 20px;
  box-shadow: 0 40px 15px rgb(220, 220, 250);
}

.intro-paragraph {
  width: 85%;
  max-width: 350px;
  margin: auto;

  line-height: 1.5;
}

.container {
  background-color: hsl(225, 100%, 98%);

  box-sizing: border-box;
  padding: 5%;
  width: 85%;
  max-width: 350px;
  margin: 30px auto;

  border-radius: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.item-2 {
  height: 48px;
  width: 50%;
  position: relative;
}

.text-1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;

  margin: 0;
  position: absolute;
  left: 0;
}

.text-2 {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item-3 {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.item-3:hover {
  color: hsl(245, 83%, 68%);
  text-decoration: none;
}

.btn {
  border-radius: 10px;
  box-shadow: 0px 30px 15px rgb(220, 220, 250);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  background: #3829e0;
  text-decoration: none;

  display: block;

  width: 85%;
  max-width: 350px;
  margin: 0 auto 30px;
  padding: 15px 0;
}

.btn:hover {
  background: #756af1;
  text-decoration: none;
}

.option-2 {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  text-decoration: none;
}

.option-2:hover {
  color: hsl(223, 47%, 23%);
}
